<nav>
  <p style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em;">
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
  </p>
  <p style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em;">
  <a href="/people.html" {% if page.url == "/people.html" %}style="color: red;"{% endif %}>
    People
  </a>
  </p>
    </a>
    <p style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em;">
    <a href="/lab.html" {% if page.url == "/lab.html" %}style="color: red;"{% endif %}>
    Lab Stuff
  </a>
  </p>
  <p style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em;">
  <a href="/join.html" {% if page.url == "/join.html" %}style="color: red;"{% endif %}>
    Join Us
  </a>
  </p>
</nav>